
.next/
out/
dist/
dist-ssr/
build/

node_modules/

logs/
*.log

*.lock
*.toml
*.xml
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.webp
*.woff
*.woff2
*.ttf
*.eot

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

.env
.env.local
.env.*.local

coverage/
.vercel/
.vscode/
.idea/
*.pem
*.tsbuildinfo
.eslintcache